# Flask session files
.flask_session/

# Streamlit cache
.streamlit/

# Environment variables
.env

# Python
__pycache__/
*.pyc
venv/
# Secrets
client_secret.json
.env

# Runtime / generated data
static/data/results.json
